/* Welcome to my stylesheet!
You might notice that I'm pretty fond of flexbox.
Feel free to reach out and let me know what you think of my code!
I'm always open to feedback :) */

/* ------- boilerplate --- */

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

p, small {
  font-family: 'Quicksand', sans-serif;
}

h2, h3 {
  font-family: 'Quicksand', cursive;
  font-weight: 700;
}

nav button {
  border: none;
  box-shadow: none;
}


/* ------- HEADER -------- */

header {
  text-align: center;
  position: absolute;
  margin: auto;
  width: 100%;
  z-index: -100;
}

h1 {
  font-family: 'Pompiere', cursive;
  font-size: 60px;
  margin-bottom: 0;
}

/* ------- NAVBAR -------- */

nav {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav .top, nav .bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav .top {
  order: 1;
  margin-top: 20px;
}

nav .bottom {
  order: 2;
  align-items: flex-end;
  bottom: 0;
  margin-bottom: 20px;
}

nav .left {
  margin-left: 20px;
}

nav .right {
  margin-right: 20px;
}

nav .circle {
  background-color: gray;
  border-radius: 100%;
  height: 120px;
  width: 120px;
  text-align: center;
}

nav .circle p {
  font-size: 20px;
  color: white;
}

/* contact footer */

.contact p {
  font-size: 20px;
}

.contact a {
  color: black;
}

/* ------- MAIN ---------- */

