/* ------- boilerplate and fonts --- */

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

p, li {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

.contact p, .circle p, small {
  font-family: 'Quicksand', sans-serif;
}

.navbar h1 {
  color: white;
}
.navbar small {
  color: white;
}
h2, h3, h4 {
  font-family: 'Quicksand', sans-serif;
}
