h1 {
	font-size: 260%;
}

.header {
	border-bottom: 2px black solid;
}

.section {
	border-bottom: 2px darkgray solid;
}

ul {
	line-height: 160%;
}

#skills {
	padding-top: 2em;
}

#education {
	padding-top: 1em;
}

#interests {
	padding-top: .75em;
}

.job p {
	font-style: italic;
}

body {
	font-family: 'Arimo', sans-serif;
}

h1 {
	font-family: 'Quicksand', sans-serif;
}

body {
	padding-bottom: 2em;
}

.col-md-1 img {
	padding: 1em;
}