
      <div class="row section">

        <div class="col-md-12">
          <h3>Projects</h3>
        </div>
      </div>
      <div class="row projects">

        <div class="col-md-4">
          <h4>Guessing Game</h4>
          <p>Dec 2015</p>
          <p><a href="https://github.com/paloobi/guessing-game">[source code]</a></p>
          <ul>
            <li>Game - user tries to guess the number</li>
            <li>Features include: hints, new game, reset</li>
            <li>Static JavaScript, HTML & CSS</li>
          </ul>
        </div>

        <div class="col-md-4">
          <h4>Arcade Game Clone</h4>
          <p>Oct 2015</p>
          <p><a href="https://github.com/paloobi/frontend-nanodegree-arcade-game">[source code]</a></p>
          <ul>
            <li>Simple arcade game, Frogger clone</li>
            <li>Created using object-oriented JavaScript & HTML5 Canvas</li>
            <li>Game assets and engine provided by Udacity.</li>
          </ul>
        </div>

        <div class="col-md-4">
          <h4>Weather App</h4>
          <p>Aug 2014</p>
          <p><a href="https://github.com/paloobi/weatherapp">[source code]</a></p>
          <ul>
            <li>Full-stack web application displays weather forecast using GET requests to an API</li>
            <li>Ruby, Sinatra, HTML/CSS, JavaScript, Weatherman Ruby Gem</li>
          </ul>
        </div>

      </div>
